::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

html {
  scroll-behavior: smooth;

  body {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
    overflow: hidden;
    font-family: sans-serif;
    * {
      padding: 0;
      outline: none;
    }
  }
}

.ltr {
  direction: ltr;
}
// input {
//   &::placeholder {
//     @apply text-[#9FA9B2];
//   }
// }
